 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color:#304d18;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        .info-section {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .info-section div {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 30%;
        }

        .info-section h3 {
            margin-bottom: 10px;
            color: #333;
        }

        .info-section p {
            color: #555;
            margin: 5px 0;
        }

        .map-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .map-container iframe {
            width: 100%;
            height: 400px;
            border: none;
            border-radius: 8px;
        }

        footer {
            background-color:#304d18;
            color: #fff;
            text-align: center;
            padding: 1px 0;
            margin-top: 5px;
            position: fixe;
            width: 100%;
            bottom: 0;
        }

        .contact-info {
            margin-top: 20px;
        }

        .contact-info p {
            font-size: 16px;
            margin: 10px 0;
        }

        .contact-info a {
            color: #1e90ff;
            text-decoration: none;
        }

        .contact-info a:hover {
            text-decoration: underline;
        }
        .botao-voltar {
            display: inline-block;
            background-color: #ffffff;
            color: #304d18;
            padding: 10px 20px;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 10px;
            transition: background-color 0.3s, color 0.3s;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        }

        .botao-voltar:hover {
            background-color: #cde7b3;
            color: #1f2f10;
        }